.community-frontpage .giant-splash .social-panel ul li:last-child {
    margin-right: 0;
}

.community-frontpage .giant-splash .get-alerts {
    display: none;
}

.community-frontpage .giant-splash {
    min-height: 300px;
    background: #234352;
}

.community-frontpage .giant-splash .site-widget {
    background-color: transparent;
    padding: 115px 0 0 0;
}
/*.community-frontpage .giant-splash .site-widget h2 {
    color: #fff;
}
.user-profile-wrapper .social-panel {
    width: 168px;
    margin: 0 auto;
}

.user-profile-wrapper .edit-mode {
    width: 177px;
    left: 90px
}*/